
flask==3.0.2  # Slightly more stable version
gunicorn==23.0.0
flask-sqlalchemy==3.1.1
psycopg2-binary==2.9.10
flask-migrate==4.0.5
python-dotenv==1.0.1
flask-cors==5.0.1
APScheduler==3.11.0
requests==2.32.3
sqlalchemy==2.0.40
urllib3==2.3.0
http-adapter==1.0.0